<div class="task-item">
	<div class="task-header">
		<h4>Title</h4>
		<div class="complexity">
			medium
		</div>
	</div>
	<div class="task-description">
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam possimus eligendi!
	</div>
	<div class="task-footer">
		<p class="date">
			26/11/24
		</p>
		<select name="status" id="status">
			<option value="todo">To Do</option>
			<option value="in-progress">In-progress</option>
			<option value="todo">Completed</option>
		</select>
	</div>
</div>