.task-container {
	background-color: #1F2937;
	color: #f4f4f4;
	border-radius: 15px;
	padding:20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 200px;
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.counter {
	background-color: #333d4c;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}